*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body,html{
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background 1s , color 1s;
}


.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 1s ease;
  background: linear-gradient(to top, #87cefa, #fffbe6);

}

.toggle{
  width: 100px;
  height: 50px;
  background-color: #444;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  margin-bottom: 40px;
  box-shadow: 0 0 15px rgba(0,0,0.3);

}

.circle{

  width: 45px;
  height: 50px;
  background-color: #ffd700;
  border-radius: 50px;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  transition: left 0.5s , background-color 0.5s;
}

.night .container{
  background: linear-gradient(to top,#0f2027,#203a43,#2c5364);
  color: #fff;
}

.night .circle{
  left: 52.5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 15px #fff;
}

#title{
  font-size: 3rem;
  transition: color 1s;
}